<div class="panel panel-default col-md-6 col-md-offset-3">
		<div class="col-md-3 col-md-offset-0 col-xs-offset-4">
			<h4>{{recipeListTitle}}</h4>		
		</div>
		<div>
			<div class="row">
				  <div class="col-lg-12">
				    <div class="input-group">
				      <input type="text" [(ngModel)]='listFilter' class="form-control" placeholder="Filtrar por...">
				      <span class="input-group-btn">
				        <button class="btn btn-default" type="button">Ok</button>
				      </span>
				    </div><!-- /input-group -->
				  </div><!-- /.col-lg-6 -->
			</div>
			<div class="row">
				<div class="col-md-6" *ngIf="listFilter">
					<h4>Filtrando por: {{listFilter}}</h4>
				</div>
			</div>
			<div class="table-responsive">
				<table class="table" *ngIf="recipes && recipes.length">
					<thead>
						<tr>
							<th>
							</th>
							<th>
								Prato
							</th>
							<th>
								Descrição
							</th>
							<!-- <th>
								Avaliação
							</th> -->
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor='let recipe of recipes | recipeFilter: listFilter'>
							<td>
								<img [src]='recipe.imageUrlSm'
								[title]='recipe.recipeName | uppercase' 
								[style.width.px]='imageWidth' 
								[style.margin.px]='imageMargin'>
							</td>
							<td>{{recipe.recipeName}}</td>
							<td><p class="text-justify">{{recipe.description}}</p></td>
							<!-- <td><ai-star [rating]='recipe.starRating'
							(ratingClicked)='onRatingClicked($event)'></ai-star></td> -->
							<td><a [routerLink]="['/recipe', recipe.recipeId]"><p class="text-center">Ver Receita</p></a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
</div>